| Ramece Cave
| Ramece Cave is a Research Analyst with the Security Engineering Research Team (SERT) at NTT Security. His core areas of focus are distributed threats, which encompass but are not limited to: identification, remediation, and analysis of denial of service (DOS) attacks, covert channels, botnets, and command and control (C2) protocols, in malware and other network communication
