| Nathan Keltner
| Nathan Keltner, one of three founding partners at Atredis Partners, plans, leads, and executes advanced, custom-scoped projects for the Assessment and Embedded practices. He has over 13 years of experience in the security industry, working with top teams of attackers and vulnerability hunters at large organizations performing penetration testing and research assessments of unique hardware, software, and organization targets.
br
| Atredis Partners is an information security company focused on improving the security of complex systems and networks. We thrive in the unknown of niche products and difficult networks, where the market was typically underserved. Our clients include some of the top organizations in hardware manufacturing, mobile device OEMs, healthcare, the financial sector, and many other verticals.
br
| https://atredis.com
