| Canary Tokens: Attacks and Defense
| Canary tokens can be thought of as web bugs for documents, executables, or even database records and source code repositories -- canaries that fire when a victim or attacker interacts with a tokened resource. This talk discusses techniques to use canaries for offense and defense, detecting interactions with your token when they occur on any system that isn't fully isolated from the internet.
br
| For defense, these grant visibility into successful attacks in a manner similar to honeypots, but focus on the information attempting to be obtained rather than a network asset. They are particularly interesting for the feedback provided in cloned site phishing attacks and other areas that are usually "dark" to defenders.
br
| But tokens are also highly useful for attackers. They've become indispensable in our attacks against live networks, granting valuable debug information on failed exploits, failed and successful phishing attempts, the specific types of network defenses getting in the way, and similar useful information.
br
| This talk will cover typical setups, modifications to the open source repos and configs you'll want to make, and fun examples of all of the above.
br
| I mean, what attacker wouldn't open the file 'Netsec_passwords_all_Q1_2017.xlsx'?