| Johnny Long
| Johnny Long spent his career as a professional hacker. He is the author of numerous security books including No-Tech Hacking and Google Hacking for Penetration Testers. Johnny spent seven years living in Uganda, East Africa, where  he focused on his work with Hackers for Charity (HFC). HFC is a non-profit organization that leverages the skills of technologists. They solve technology challenges for various non-profits and provide food, equipment, job training and computer education to the world's poorest citizens. Johnny's website is http://hackersforcharity.org.
