| What is the hacker community?
| I’ve had some interesting adventures in my twenty-or-so years as a professional hacker and INFOSEC dude, and one thing I’ve learned is the value of failure. In this talk, I’ll unload some of the stories of my adventures all over the globe and share the valuable insights I’ve gained about what it means to be a hacker and why this community is unique, valuable and worth fighting for.
