| Mikhail Sudakov
| Mikhail is Cyber Security Architect and Analyst for LEO Cyber Security. He taught cryptology at St. Bonaventure University in NY, USA and had previously served the university as a programmer and information security specialist. Not being afraid to try his hand at offense, he holds an OSCP certification from Offensive Security. Mikhail is a cybersecurity professional with an enormous passion for mathematics and cryptology.
