.schedule-talk
  .schedule-title
    h2 Keynote
    h3 Michael Haney
    h4 Co-Founder of BSidesOK
    p He is a Co-Founder of BSidesOK and a long distributer of well researched and tested knowledge for the InfoSec community. In 2015 he finally earned as many degrees as he could get, granting him the opportunity to implant himself in a position filled with cutting edge research and equipment. As a Professor and a cybersecurity researcher at Idaho National Labs his research focus is on Computer/Network Security, Forensics, Applied Crypto, Critical Infrastructure Protection, resilient design, and situational awareness through intrusion detection and honeypot systems.
  // The dumb CSS requires this...? 
  ul.nav.nav-tabs(role="tablist") 
  //-   li.nav-room1.active
  //-     a(role="tab", data-toggle="tab", href="#speaker-talk") Talk
  //-   li.nav-room1.active
  //-     a(role="tab", data-toggle="tab", href="#speaker-bio") Bio
  //- div.tab-content
  //-   div.tab-pane.active(id="speaker-talk")
  //-     p
  //-       include description.jade
  //-   div.tab-pane(id="speaker-bio")
  //-     p
  //-       include bio.jade
