| Mike Mattice
| Mike is a long-time developer and sysadmin.  In each of his roles over the years he's been responsible for both.  Over the years, he's become a specialist in balancing and integrating these two roles and is currently employed as a DevOps Consultant.  In his previous role, he spent 10 years in a Payment Card Industry environment, encrypting and blue-teaming all the things.