| Erin Vance
| Erin started her career in Network Security in September of 1999 with ExxonMobil. After leading the Network Security and Remote Access team for five years at Exxon, she left to travel the world, gaining a 'different' kind of education in 22 different countries. She landed in South Korea and opened her own Business English academy where she thrived for seven years. Erin came back to the States in 2012 and after a few years working at a United Way Agency in IT, Security and Resource Management, she started at QuikTrip in their Security Engineering department. Erin took the role as Cyber Security Operations Lead in May of 2017.

