| Michael Gough
| Michael has 20 years experience in IT and Information Security. Michael focuses his talents as a Blue Team Defender, malarian fighter and malware archeologist, known to many as the Windows log kung fu master.