| Frank Gifford
| Frank Gifford is an Offensive Security Certified Penetration (OSCP) tester working for NCC Group and has a life-long passion for all things relating to cryptography. He spent many years as an embedded C programmer working on networking equipment and IPS products. During his spare time he factors certificates (CVE-2016-6670) and he has a life goal of creating a scholarship relating to cryptography.
