| Rich Lay
| Richard Lay joined the FBI in July 1997. After attending the FBI academy, he was assigned to the Houston Division of the FBI, where he worked White Collar Crime and Cyber Crime. In 2003 he transferred to the FBI's Engineering Research Facility in Quantico, where he managed a variety of technical support programs. In 2007 he transferred to his home state of Oklahoma. He served as the supervisor of the Cyber Squad in the Oklahoma City Division of the FBI for 5 1/2 years. In 2013 he returned to investigative duties as a Cyber agent, focusing on computer intrusion investigations. 
