| FBI Cyber Crime Update
| Cyber crime update presentation that briefly give the audience an overview of a recent case/UC operation, and the evidence issues and international challenges surrounding it.