| Luke Crouch
| I'm a Privacy & Security Engineer for Mozilla Firefox helping the Tor Uplift team bring Tor anonymity protections into Firefox. I've also been a web developer for 15 years and I enjoy learning and presenting about new and "exotic" web technologies.
