doctype html
block vars
  - var bodyclass = null;
html(lang='en')
  head
    include _partial/head
  body(class=bodyclass)
    header
      //a.sponsor-cta(href="#sponsorship")
        //| Interested in Sponsoring?
      //| CFP Coming Soon 
      //br
      //a.cfp-cta(href="#cfp")
        //| Our CFP is Open!
      .buildings
        .intro
          block header
            h2
              = config.title
            h1
              a(href=config.root)
                = config.title
            h3
              | Training: Wed-Thur, April 10-11
              sup th
            h3
              | Conference: Friday, April 12
              sup th
            h3
              span.kapow
              | Glenpool, OK
              span.kapow

        nav
          .container
            ul.row
              li.col-md-2
                a(href="#schedule") Schedule
              //li.col-md-2
              //  a(href="#other") Other Events
              // li.col-md-2
              //   a(href="#cfp") CFP
              //li.col-md-2
                //a(href="#training") Training
              //li.col-md-2
                //a(href="#registration") Registration
              li.col-md-2
                a(href="#location") Location
              li.col-md-2
                a(href="#sponsorship") Sponsors
              //li.col-md-1
                //a(href="#coc") CoC
              li.col-md-2
                a(href="#volunteer") Volunteer
              li.col-md-2
                a(href="#contact") Contact
            a.scroll-hint(href="#conference")

    #content
      block content

    footer
      include _partial/footer

    // Modal
    #modal-talks.modal(tabindex="-1", role="dialog", aria-labelledby="myModalLabel", aria-hidden="true")
      .modal-dialog
        .modal-content
          .modal-header
            button.close(type="button", data-dismiss="modal", aria-hidden="true") &#215;
          .modal-body

    script(src="javascripts/retina.js", type="text/javascript")
