| How I Bought a House with Bitcoin
| Learn how Bitcoin and blockchain came about and how it works in the real world. Then, hear the real story of my harrowing journey of buying a house with Bitcoin. Learn how to keep your Bitcoin safe, and hear from our bonus co-speaker, who is a CPA, how to stay square with the IRS and other Feds.
