| The Machines are NOT Out to Get Us! How Machine Learning and Artificial Intelligence are Changing the Security Game
| We’ve all been using machine learning and artificial intelligence for some time now with such things as facial recognition in Facebook to voice recognition on our smart phones. What many are not aware of is that there are significant innovations occurring in the security space that utilize machine learning and artificial intelligence to provide the next evolution of tried and true security tools like anti malware, network forensics, and user identity.
br
| This presentation will start with an overview of machine learning and how it works at a high level. We will then take a brief look at one use case – antimalware, that is currently displacing traditional antimalware solutions at an increasing pace. We will then discuss some up and coming use cases that are being still developed, and provide some examples of existing tools in these spaces.
