| JJ Asghar
| JJ works with Strategic Technical Alliances at Chef Software making integrations work with Chef, Habitat, and InSpec. He works on everything from Azure, VMware, OpenStack, and Cisco with everything in between. He also heads up the Chef Partner Cookbook Program, dubbed Sippy Cup, to make sure customers of Chef and vendors get the highest quality certified cookbooks.