| Jack Daniel
| Jack Daniel is a co-founder of Security BSides and works for Tenable Network Security.  Jack has over 20 years' experience in network and system administration and security, and has worked in a variety of practitioner and management positions.
br
| Jack is a technology community activist, a frequent speaker at technology and security events and is a co-host on the award-winning Security Weekly Podcast. An early member of the information security community on Twitter, @jack_daniel is an active and vocal Twitter user. Jack is a CISSP, holds CCSK, and is a Microsoft MVP for Enterprise Security.
