| Nathan Sweaney
| Nathan is the man!  But a godly man, husband and father to 18 kids.  People also call him Sir Hax-a-l0t and you may have seen him walking the sandy beaches of Oklahoma playing a mean trumpet.