| Dan Bougere
| Dan has recently been baptized in the world of ICS through his Senior Security Consultant job at Securion, LLC where he is a pentester. Before then he held various cybersecurity jobs in Afghanistan and domestically, with a quick stint as a Fed at the NSA. Dan holds a BS and two MS degrees (because reasons) and more than a few certs from SANS, where he acts as a mentor in the DC area. He especially enjoys learning about ICS, since you really can hack just like the movies.
