| The Beginner's Guide to ICS: How to Never Sleep Soundly Again
| Are you tired of missing the Modbus? Do you think DALI is a weird artist? You want to bring sexy BAC? Go from noob to clueful on the hottest new hacking targets of 2017, and see what all the fuss is about. Learn what exactly is SCADA/ICS/PCN, why it's important, and just how horrifyingly ancient it all is. If you've ever wondered why Stuxnet was so devastatingly effective, or want to lose sleep over chemical plants on your commute, this is your chance.

