| The Stick, the Sting, & the Squirm: How to Get The Board to Focus on Cyber
| Boards of Directors are finally taking note of cybersecurity risks. This session will arm attendees with legal opinions, authority recommendations, legislation, and proposed regulations to make the case for a strong information security program. The alternative may be to squirm in front of Congress.


