| Tracking Down the R0uge N0de
| We live in a world today where most security analyst only respond to the blinking lights or the RED pie charts on a dashboard. What if you really wanted to find some real silent actors? Where would look and what would it even look like and what tools are available? During this presentation, we will go through a few scenarios of different attacks, what they look like and what you can do to stop, track and intellectual crush attacker!
