| How did that get there? The ICS attack surface you may be missing
| With media attention and the advent of IIoT, awareness of control system vulnerabilities is arguably at an all-time high. What you may not be aware of, however, are the lesser known technologies and attack opportunities lurking in many industrial control environments. While you’ve probably heard about fragile IP stacks in embedded devices, unpatched Windows, and rampant MS08-067 in ICS, the story doesn’t end there. In this presentation, we'll examine overlooked and often undiscovered attack surface based on a decade of ICS assessment and testing experience in the oil and gas, electric power, and manufacturing industries. 

