| A Token Walks Into a SPA...
| Between Angular, React, & Vue it can be hard NOT to build SPAs these days. But having to deal with cookies, tokens, auth, & resource access - you may even feel like you need a second page (gasp!) for security! Fear not, for the technology to create truly secure SPAs is there and I'll show you how.
