| Securing Azure, Azure Secured
| Ten things you should be doing to secure your Microsoft Cloud. I love all the clouds, but often for better or worse as security professionals our cloud is chosen for us. If you are a security professional charged with protecting Microsoft Azure then this talk is for you.
