| Attacker vs. Defender: Observations on the Human Side of Security
| Security operators always take the same approach when responding to an attack - find the attacker and get them out. Not only does this never work, you've cut off the one thing you know about the attacker. By changing your mindset on incident response, you can better protect and respond to attack.