| How to run your code on the dark web (and why you should)
| Tor is an anonymous network and browser. Millions use Tor every day. Is your code ready for them? This talk introduces Tor, provides an overview of how it works and the adversaries and attacks its designed to stop, and shows that coding for Tor is practical, and improves your code for everyone.


