| Scary Tech that Tracks You Online
| Abstract: There are over 5,000 online trackers that use and abuse web technology to identify and follow users online. From the humble HTTP cookie to WebVR to abusing the web's own security features to attack its users' privacy. This talk will demystify the technology that powers online tracking, show how developers can help protect users, and emphasize the important of privacy in online life.


