| Crypto: 500 BC - WWII
| "Crypto Before Computers": A 60-minute overview of content from The Code Book by Simon Singh, covering secrecy from ancient Greece to Enigma machines used in World War II. This is a cursory, high-level, mostly-non-mathematical survey of centuries of crypto - good as an intro to crypto for developers and non-devs alike.
