| Ransomware: History, Analysis, & Mitigation
| Just as the title says, we go over the humble origins, touch on the notable variants of yesteryear, the big hitters today, and discuss the future of ransomware. It's no longer just for windows anymore. Linux, Mac, and mobile platforms are all ripe for extortion. 
br
| This humorous and entertaining talk teachest everyone, from Mom and Pops to large enterprise organizations, what's really happening and how to protect themselves. 
