| The Bug That Extinct The Computers
| Everyones heard about the hype behind the new exploits that "broke" the Intel chips but few understand the entire technical background to the vulnerabilities. Meltdown and Spectre can get very confusing. Let's clear up some of the disarray while displaying some proof of concepts.