p.container.info
  //h2.section-title Preparing for the Storm - BSidesOK 2019
  h2.section-title About BSidesOK
  p.container
    | BSides Oklahoma is a free information security conference focused on practical knowledge that is widely available to the 
    | community for improving information security.  We have inexpensive training classes and a FREE conference
    | for attendees, thank our Sponsors for that(!), that includes hands-on challenges, talks, food and drinks (like beer...).
    | Come and join us in our 5th year of providing this conference to the Oklahoma Community and beyond!


  h2 BSidesOK Keynote Speaker!
  p.container
    | Our featured keynote speaker for 2019, our 5th year, will be Michael Haney!  He is a Co-Founder of BSidesOK and a long
    | distributer of well researched and tested knowledge for the InfoSec community.  In 2015 he finally earned as many degrees  
    | as he could get in order to once again implant himself in a position filled with cutting edge research in his field of
    | interest and ways for him to keep spreading the knowledge he has gained along the way.  
    //- a(href="https://www.linkedin.com/in/timmedin/") Tim Medin 
    //- | of 
    //- a(href="https://www.redsiege.com/") Red Siege.
