p.container.info
  //h2.section-title Preparing for the Storm - BSidesOK 2018
  h2.section-title About BSidesOK
  p.container
    | BSides Oklahoma is a free information security conference focused on practical, hands-on training for improving security.
    | Our featured keynote speaker will be 
    a(href="https://www.linkedin.com/in/timmedin/") Tim Medin 
    | of 
    a(href="https://www.redsiege.com/") Red Siege.
