h2.section-title Preparing for the Storm - BSidesOK 2017
p.container
p.container
    section#cfp
      include cfp.jade


    strong About BSidesOK
    p.container

      | BSides Oklahoma is a free security conference focused on practical, hands-on training for improving security.
      | Our featured keynote speaker is Johnny Long, Hacker for Charity.
