p.container.info
  //h2.section-title Preparing for the Storm - BSidesOK 2019
  h2.section-title About BSidesOK
  p.container
    | BSides Oklahoma is a free information security conference focused on practical knowledge that is widely available to the 
    | community.  We are focused on improving information security through sharing with inexpensive training classes and a FREE conference
    | for attendees.  The conference includes hands-on challenges, talks, food and drinks(grownup and otherwise).
    |  All would not be possible without our 
    a(href="#sponsorship") Sponsors
    | !  Come and join us in our 5th year of providing this conference to the Oklahoma Community and beyond!  


  h2.section-title BSidesOK Keynote Speaker!
  p.container
    | Our featured keynote speaker for 2019, our 5th year, will be Michael Haney!  He is a Co-Founder of BSidesOK and a long
    | distributer of well researched and tested knowledge for the InfoSec community.  In 2015 he finally earned as many degrees  
    | as he could get, granting him the opportunity to  implant himself in a position filled with cutting edge research and
    | equipment.  As a Professor and a cybersecurity researcher at Idaho National Labs his research focus is on 
    | Computer/Network Security, Forensics, Applied Crypto, Critical Infrastructure Protection, resilient design, 
    | and situational awareness through intrusion detection honeypot systems. 
    //- a(href="https://www.linkedin.com/in/timmedin/") Tim Medin 
    //- | of 
    //- a(href="https://www.redsiege.com/") Red Siege.
