h2.section-title Preparing for the Storm - BSidesOK 2017
p.container
p.container
    strong About BSidesOK
    p.container

      | BSides Oklahoma is a free information security conference focused on practical, hands-on training for improving security.
      | Our featured keynote speaker will be Johnny Long of
      a(href="http://www.hackersforcharity.org/") Hackers for Charity.

    section#cfp
      include cfp.jade
