p.container.info
  h2.section-title Call for Papers
  p
    strong Our CFP for 2018 is open.
    br
    //| We're announcing the Call For Papers (CFP) soon!
    | Think you have what it takes to present at BSidesOK?  
    br
    | Read our 
    a(href="https://www.papercall.io/bsidesok2018") CFP announcement and submit your talk
