p.container.info
  h2.section-title Call for Papers
  p
    strong Our CFP for 2018 is now closed...
    br
    //| We're announcing the Call For Papers (CFP) soon!
    | The Team is currently picking the talks from the excellent submissions.  Hardest job we have because there are so many great talks to choose from.  Thank you to those that submitted!
    br
    //- | Read our 
    //- a(href="https://www.papercall.io/bsidesok2018") CFP announcement and submit your talk
