p.container.info
  h2.section-title Call for Papers
  p
    //| We're announcing the Call For Papers (CFP) soon!
    | Think you have what it takes to present at BSidesOK?  
    | Read our 
    a(href="https://drive.google.com/file/d/0B245iwOzhp7OXzRnTVVSVERPMzA/view?usp=sharing") CFP announcement 
  p
    | Then 
    a(href="https://cfp.bsidesok.com/") submit your talk!