h2.section-title Code of Conduct
p.container
      | Everyone deserves to attend a learning event, community or professional, with a reasonable expectation of good behavior.
      | The BSidesOK Team expects that while attending this conference you treat everyone with the love and respect you wish to 
      | recieve.  This applies to all attendees, speakers, volunteers, vendors, and anyone in between. 
      | We feel that if you do that, then this conference will once again run smoothly and we will all have a good time.
      br
      a(href="mailto:info@bsidesok.com") Contact us
      |   if you have questions.
