h2.section-title Code of Conduct
p.container
      | Everyone deserves to attend a learning, community or professional event with a reasonable expectation of good behavior.
      | As members of the Techlahoma community, the 
      a(href="https://github.com/techlahoma/CodeofConduct/wiki/Techlahoma-Code-of-Conduct") Techlahoma CoC
      | applies to all attendees, speakers, volunteers, and vendors.
      a(href="mailto:bsidesok@gmail.com") Contact us
      | if you have questions.
