.container
  h2.section-title Contact Us
  p
    a(href="mailto:bsidesok@gmail.com") Email Us
  p
    a(href="https://twitter.com/BsidesOK") Tweet @BsidesOK
//  p
//    a(href="https://github.com/techlahoma/bsidesok-2017") Submit a Github Issue
