h2.section-title Where it&#8217;s at
p
  | Located at the
  a(href="http://www.glenpoolconferencecenter.com/") Glenpool Conference Center
  |  in Glenpool, OK (Just southwest of Tulsa).

p.container
  div.col-md-12
    div#location-panorama
      a(href='http://glenpoolconferencecenter.com', alt='The Glenpool Conference Center').location-image-overlay.one
        div.location-image-overlay-label
          | The Glenpool Conference Center
      div#location-panorama-image.location-image
      img(src='images/glenpool-conf-center-outside.jpg', alt='The Glenpool Conference Center', title="The Glenpool Conference Center")#location-panorama-image-src.location-image-src
//div
//  iframe(width='100%', height='400px', frameBorder='0',  src='https://a.tiles.mapbox.com/v4/techlahoma.06k737jl/attribution,zoompan.html?access_token=pk.eyJ1IjoibnN3ZWFuZXkiLCJhIjoiY2l5d2l2aHJjMDA1YTMzcnhzZ2Vtc2N6OSJ9.e2QJNEzNe3oHR08EYw2nPQ', id='map')

p
  | Official Conference Hotel - Holiday Inn Express Glenpool
  br
  | For a 10% discount on room prices, use the Corporate ID of "786825735".
  br
  a(href="http://www.hiexpress.com/redirect?path=hd&brandCode=ex&localeCode=en&regionCode=1&hotelCode=TULJO&rateCode=IXLSU&_PMID=99502056&corpNum=786825735") Book Rooms Today!


