h2.section-title Other Events
//p Coming Soon!
//p Click on any schedule item to see details about the talk.
//.other-schedule-legend
  //span.legend-day1 Day 1
  //span.legend-day2 Day 2

.other-schedule-list

  .other-schedule-event
    p
      | Technical Demos
  .other-schedule-time
    time 10:00am-11:00am
  .other-schedule-slot
    .other-schedule-talk
      .other-schedule-title
        h3 ZScaler - Nicole Powell
        h4 Defense-in-depth: How Zscaler protects against CryptoLocker.

  .other-schedule-time
    time 11:00am-12:00pm
  .other-schedule-slot
    .other-schedule-talk
      .other-schedule-title
        h3 Carbon Black
        h4 

  .other-schedule-time
    time 2:00pm-3:00pm
  .other-schedule-slot
    .other-schedule-talk
      .other-schedule-title
        h3 Cyber Ark
        h4 

  .other-schedule-time
    time 3:00pm-4:00pm
  .other-schedule-slot
    .other-schedule-talk
      .other-schedule-title
        h3 RSA Netwitness Suite - Jay Dunks
        h4 

  .other-schedule-time
    time 4:00pm-5:00pm
  .other-schedule-slot
    .other-schedule-talk
      .other-schedule-title
        h3 Critical Start
        h4 

  .other-schedule-event
    p
      | College of Lockpicking
  .other-schedule-time
    time 9:00am-5:00pm
  .other-schedule-slot-center
    .other-schedule-talk
      .other-schedule-title
        .other-float-center
          h3 Come learn the basics of lockpicking and how locks work. 

  .other-schedule-event
    p
      | Hacker Hired
  .other-schedule-time
    time 9:00am-5:00pm
  .other-schedule-slot-center
    .other-schedule-talk
      .other-schedule-title
        .other-float-center
          h3 Need help with your InfoSec career? Whether it’s resume assistance, help 
            | with finding jobs, handling interviews, or just trying to get the job you
            | want, this is the place to ask! Social engineering is used to help attendees
            | better prepare themselves to get the job they want. This can also be used 
            | for recruiters to help find InfoSec talent.

  .other-schedule-event
    p
      | First Lego League Demonstrations - Cascia Hall Team
  .other-schedule-time
    time 11:00am-3:00pm
  .other-schedule-slot-center
    .other-schedule-talk
      .other-schedule-title
        .other-float-center
          h3 Interested in robotics? Come see the students from Cascia Hall demonstrate their First Lego League competition robot. 