.container
  h2.section-title Registration
  a(href="https://www.eventbrite.com/e/bsides-oklahoma-2019-tickets-55479920937?ref=ebtn") Register Now
  p What are you waiting for? It's free to register, but don't wait. We sold out last year. :)
  
