h2.section-title Schedule
//p Coming Soon!
p Click on any schedule item to see details about the talk.
//.schedule-legend
  //span.legend-day1 Day 1
  //span.legend-day2 Day 2

.schedule-list
  .schedule-time
    time 8:00am-9:00am
  .schedule-event
    p
      | Registration
  .schedule-time
    time 9:00am-9:15am
  .schedule-event
    p
      | Welcome & Announcements
  .schedule-time
    time 9:15am-10:00am
  .schedule-slot
    include ./speakers/johnny-long/entry.jade 
  .schedule-time
    time 10:10am-10:55am
  .schedule-slot
    include ./speakers/rich-lay/entry.jade
    include ./speakers/mic-whitehorn-gillam/entry.jade
    include ./speakers/dan-bougere/entry.jade
  .schedule-time
    time 11:05am-11:50pm
  .schedule-slot
    include ./speakers/luke-crouch/entry.jade
    include ./speakers/ramece-cave/entry.jade
    include ./speakers/bobby-simpson/entry.jade
  .schedule-time
    time 12:00pm-1:00pm
  .schedule-event
    p
      | Lunch Break
  .schedule-time
    time 1:10pm-1:55pm
  .schedule-slot
  .schedule-slot
    include ./speakers/jack-daniel/entry.jade 
  .schedule-time
    time 2:05pm-2:50pm
  .schedule-slot
    include ./speakers/nathan-keltner/entry.jade
    include ./speakers/jason-holcomb/entry.jade
    include ./speakers/rodney-beede/entry.jade
  .schedule-time
    time 3:00pm-3:45pm
  .schedule-slot
    include ./speakers/panel/entry.jade
    include ./speakers/greg-guhin/entry.jade
    include ./speakers/luke-crouch2/entry.jade
  .schedule-time
    time 3:55pm-4:40pm
  .schedule-slot
    include ./speakers/dallas-haselhorst/entry.jade
    include ./speakers/donovan-farrow/entry.jade
    include ./speakers/andy-thompson/entry.jade
  .schedule-time
    time 4:50pm-5:35pm
  .schedule-slot
    include ./speakers/frank-gifford/entry.jade
    include ./speakers/chris-yates/entry.jade
  .schedule-time
    time 5:40pm-6:00pm
  .schedule-event
    p
      | Closing & Door Prizes
  .schedule-time
    | &nbsp;

