h2.section-title Conference Schedule (Friday, April 13)
//p Coming Soon!
p Click on any schedule item to see details about the talk.
//.schedule-legend
  //span.legend-day1 Day 1
  //span.legend-day2 Day 2

.schedule-list
  .schedule-time
    time 8:00am-9:00am
  .schedule-event
    p
      | Registration
  .schedule-time
    time 9:00am-9:15am
  .schedule-event
    p
      | Welcome & Announcements
  .schedule-time
    time 9:15am-10:00am
  .schedule-slot
    include ./speakers/tim-medin/entry.jade
  .schedule-time
    time 10:10am-10:55am
  .schedule-slot
    include ./speakers/michael-gough/entry.jade
    include ./speakers/bobby-simpson/entry.jade
    include ./speakers/jason-gillam/entry.jade
  .schedule-time
    time 11:05am-11:50pm
  .schedule-slot
    include ./speakers/erin-vance/entry.jade
    include ./speakers/mikhail-sudakov/entry.jade
    include ./speakers/luke-crouch/entry.jade
  .schedule-time
    time 12:00pm-1:00pm
  .schedule-event
    p
      | Lunch Break
  .schedule-time
    time 1:10pm-1:55pm
  .schedule-slot
    include ./speakers/stephen-nelson/entry.jade
    include ./speakers/panel/entry.jade
    include ./speakers/ramece-cave/entry.jade
  .schedule-time
    time 2:05pm-2:50pm
  .schedule-slot
    include ./speakers/seth-jaffe/entry.jade
    include ./speakers/michael-oglesby/entry.jade
    include ./speakers/kevin-johnson/entry.jade
  .schedule-time
    time 3:00pm-3:45pm
  .schedule-slot
    include ./speakers/nathan-sweaney/entry.jade
    include ./speakers/spencer-davis/entry.jade
    include ./speakers/ado-kukic/entry.jade
  .schedule-time
    time 3:55pm-4:40pm
  .schedule-slot
    include ./speakers/todd-oboyle/entry.jade
    include ./speakers/ramiro-pozzani/entry.jade
    include ./speakers/empty/entry.jade
  .schedule-time
    time 4:50pm-5:35pm
  .schedule-event
    p
      | Closing & Door Prizes
  .schedule-time
    | &nbsp;