h2.section-title We &hearts; Our Sponsors
.container
  p &nbsp;
    .row.vcenter
      .sponsor
          h3 Diamond Sponsors 
          p
            a.logo(href="https://www.criticalstart.com/")
              img(alt="Critical Start" src="images/sponsors/criticalstart_logo.png" width="800")
            br
            br
            a.logo(href="https://www.optiv.com/")
              img(alt="Optiv" src="images/sponsors/optiv_logo.png" width="600")
            br
            br
          //h3 Platinum Sponsors
            //br
            //br
          h3 Gold Sponsors
          p
            a.logo(href="http://www.aliasforensics.com/")
              img(alt="AliasForensics" src="images/sponsors/alias_logo.png" width="400")
            a.logo(href="https://www.sans.org/")
              img(alt="SANS" src="images/sponsors/sans_logo.png" width="400")
            br
            br
            a.logo(href="https://www.rsa.com/")
              img(alt="RSA" src="images/sponsors/RSA_logo.png" width="400")
             a.logo(href="https://www.secureideas.com.com/")
              img(alt="SecureIdeas" src="images/sponsors/secureideas_logo.png" width="400")
            br
            br
            a.logo(href="https://truedigitalsecurity.com/")
              img(alt="TrueDigital" src="images/sponsors/True_logo.png" width="400")
            a.logo(href="https://www.ixiacom.com/")
              img(alt="IXIA" src="images/sponsors/ixia_logo.png" width="400")
            br
            br
            a.logo
              img(alt="XTI" src="images/sponsors/xti_logo.PNG" width="400") 
            a.logo(href="https://www.IntelligenceCareers.gov/NSA")
              img(alt="NSA Careers" src="images/sponsors/nsa_logo.jpg" width="400")
            br
            br
          h3 Silver Sponsors
          p
            a.logo(href="https://www.carbonblack.com/")
              img(alt="CarbonBlack" src="images/sponsors/carbonblack_logo.png" width="400")
            a.logo(href="https://www.rapid7.com/")
              img(alt="Rapid7" src="images/sponsors/rapid7_logo.png" width="400")
            br
            br
            a.logo(href="https://www.mcafee.com/")
              img(alt="McAfee" src="images/sponsors/mcafee_logo.png" width="400")
            a.logo(href="https://www.friends.edu/")
              img(alt="Friends University" src="images/sponsors/friends_logo.png" width="400")
            br
            br
            a.logo(href="https://www.threatconnect.com/")
              img(alt="ThreatConnect" src="images/sponsors/threatconnect_logo.png" width="400")
            br
            br
          h3 Contibuting Sponsors
          p
            a.logo(href="http://www.issaokc.org/")
              img(alt="ISSA OKC" src="images/sponsors/issaokc_logo.jpg" width="400")
            a.logo(href="http://oklahoma.issa.org/")
              img(alt="ISSA Oklahoma" src="images/sponsors/issaok_logo.png" width="400")
            a.logo(href="https://www.techlahoma.org/")
              img(alt="Techlahoma" src="images/sponsors/techlahoma-3.png" width="400")
            a.logo(href="https://www.infragardok.org/")
              img(alt="InfraGard" src="images/sponsors/infragard_logo.jpg" width="400")
  p
    | Interested in Sponsoring BSidesOK? View our
    a(href="https://www.bsidesok.com/files/BSidesOK_Sponsorship_Kit_2018.pdf") Sponsorship Kit.
    | .
  p
    | If you have any questions, please contact us via
    a(href="mailto:info@bsidesok.com") email
    | or
    a(href="https://twitter.com/BSidesOK") @BSidesOK
    | on twitter.
