h2.section-title We &hearts; Our Sponsors
.container
  p &nbsp;
    .row.vcenter
      .sponsor
        .col-md-6
          h3 Diamond Sponsors 
          h3 Platinum Sponsors
          p
            a.logo(href="https://www.rsa.com/")
              img(alt="Techlahoma" src="images/sponsors/RSA_logo.png" width="400")
          
          h3 Gold Sponsors
          p
            a.logo(href="https://www.mozilla.org/")
              img(alt="Techlahoma" src="images/sponsors/mozilla_logo.png" width="400")
            br
            br
            a.logo(href="https://truedigitalsecurity.com/")
              img(alt="Techlahoma" src="images/sponsors/True_logo.png" width="400")
            br
            br 
            a.logo(href="https://www.ixiacom.com/")
              img(alt="Techlahoma" src="images/sponsors/ixia_logo.png" width="400")
            br
            br
            a.logo(href="https://www.alertlogic.com/")
              img(alt="Techlahoma" src="images/sponsors/alertlogic_logo.png" width="400")
          h3 Silver Sponsors
          p
          
          h3 Contibuting Sponsors
          p
            a.logo(href="http://oklahoma.issa.org/")
              img(alt="Techlahoma" src="images/sponsors/issaok_logo.png" width="400")
            a.logo(href="https://www.techlahoma.org/")
              img(alt="Techlahoma" src="images/sponsors/techlahoma-3.png" width="400")

  hr
  p
    | Interested in Sponsoring BSidesOK? View our
    a(href="https://drive.google.com/file/d/0B245iwOzhp7OTExGRGtvZDRPSTA/view") Sponsorship Kit.
    | .
  br
  p
    | If you have any questions, please contact us via
    a(href="mailto:bsidesok@gmail.com") email
    | or
    a(href="https://twitter.com/BSidesOK") @BSidesOK
    | on twitter.
