h2.section-title We &hearts; Our Sponsors
.container
  p &nbsp;
    .row.vcenter
      .sponsor
      //
          //h3 Diamond Sponsors 
          h3 Platinum Sponsors
          p
            a.logo(href="https://www.rsa.com/")
              img(alt="RSA" src="images/sponsors/RSA_logo.png" width="400")
            a.logo(href="https://www.optiv.com/")
              img(alt="Optiv" src="images/sponsors/optiv_logo.png" width="400")
            br
            br 
            a.logo(href="https://www.cylance.com/")
              img(alt="Cylance" src="images/sponsors/cylance_logo.png" width="400")
          br
          br 
          h3 Gold Sponsors
          p
            a.logo(href="https://www.mozilla.org/")
              img(alt="Mozilla" src="images/sponsors/mozilla_logo.png" width="400")
            a.logo(href="https://truedigitalsecurity.com/")
              img(alt="TrueDigital" src="images/sponsors/True_logo.png" width="400")
            br
            br 
            a.logo(href="https://www.ixiacom.com/")
              img(alt="IXIA" src="images/sponsors/ixia_logo.png" width="400")
            a.logo(href="https://www.cyberark.com/")
              img(alt="CyberArk" src="images/sponsors/cyberark_logo.png" width="400")
            br
            br
            a.logo(href="http://www.aliasforensics.com/")
              img(alt="AliasForensics" src="images/sponsors/alias_logo.png" width="400")
            a.logo(href="https://www.secureideas.com.com/")
              img(alt="SecureIdeas" src="images/sponsors/secureideas_logo.png" width="400")
            br
            br
            a.logo(href="https://www.sans.org/")
              img(alt="SANS" src="images/sponsors/sans_logo.png" width="400")
          br
          br             
          h3 Silver Sponsors
          p
            a.logo(href="https://www.alertlogic.com/")
              img(alt="AlertLogic" src="images/sponsors/alertlogic_logo.png" width="400")
            a.logo(href="https://sentinelips.com/")
              img(alt="SentinelIPS" src="images/sponsors/sentinelips_logo.png" width="400")
            br
            br
            a.logo(href="https://www.carbonblack.com/")
              img(alt="CarbonBlack" src="images/sponsors/carbonblack_logo.png" width="400")
            a.logo(href="https://www.tenable.com/")
              img(alt="Tenable" src="images/sponsors/tenable_logo.png" width="400")
            br
            br
            a.logo(href="https://www.checkpoint.com/")
              img(alt="Check Point" src="images/sponsors/checkpoint_logo.png" width="400")
            a.logo(href="https://www.zscaler.com/")
              img(alt="ZScaler" src="images/sponsors/zscaler_logo.png" width="400")           
            br
            br
            a.logo(href="https://www.atredis.com/")
              img(alt="Atredis" src="images/sponsors/atredis_logo.png" width="400")
            a.logo(href="https://www.criticalstart.com/")
              img(alt="Critical Start" src="images/sponsors/criticalstart_logo.png" width="400")           
          br
          br 
          h3 Contibuting Sponsors
          p
            a.logo(href="http://oklahoma.issa.org/")
              img(alt="Techlahoma" src="images/sponsors/issaok_logo.png" width="400")
            a.logo(href="https://www.techlahoma.org/")
              img(alt="Techlahoma" src="images/sponsors/techlahoma-3.png" width="400")
  p
    | Interested in Sponsoring BSidesOK? View our
    a(href="https://www.bsidesok.com/files/BSidesOK_Sponsorship_Kit_2018.pdf") Sponsorship Kit.
    | .
  br
  p
    | If you have any questions, please contact us via
    a(href="mailto:bsidesok@gmail.com") email
    | or
    a(href="https://twitter.com/BSidesOK") @BSidesOK
    | on twitter.
