h2.section-title Training
p.container
  | BSidesOK is all about supporting the community and encouraging information security education. 
  | This year we're adding a whole day of low-cost security training! Pick a course & sign up today!
  br
  strong All classes will be 8am-5pm on Thursday, March 23rd. 
  | Class sizes are limited to 25. 
  br
  |Paid members of ISSA, Infragard, & Techlahoma receive 25% off. 
  br
  a(href="mailto:bsidesok@gmail.com") Email bsidesok@gmail.com 
  |for more details.  
  
br
p.container
  strong Secure Coding for Developers - $200
  br
  p Instructors: Kevin Johnson and Mic Whitehorn-Gillam (Secure Ideas)
  .training-course-desc 
    p.container
      | This course is designed to introduce web application developers to the world of web application vulnerabilities through a combination of practical and thought exercises. The course leverages the Samurai WTF environment as a test lab, and primarily focuses on the execution and defensive measures for the OWASP Top 10 vulnerabilities.
p.container
  a(href="courses/SecureCodingCourse.pdf", target="_blank") Course Description
  span ---
  a(href="https://events.r20.constantcontact.com/register/eventReg?oeidk=a07edsyd33rfd59cbeb&oseq=&c=&ch=", target="_blank") Register Here
  
br
p.container
  strong CLASS FULL - Pentesting 101 - $200 - CLASS FULL
  br
  p Instructor: Tim Elrod and Lars Cohenour (Optiv)
  .training-course-desc 
    p.container
      | Two experienced security consultants will cover performing basic penetration testing and how to produce repeatable results using a standard methodology. In this course, participants will use a test lab to gain hands-on experience applying each phase of the methodology.
p.container
  a(href="courses/PenTesting101.pdf", target="_blank") Course Description
//  span ---
//  a(href="https://events.r20.constantcontact.com/register/eventReg?oeidk=a07edsyd33rfd59cbeb&oseq=&c=&ch=", target="_blank") Register Here
  
br
p.container
  strong Digital Forensics Essentials - $200
  br
  p Instructor: Donovan Farrow (Alias Forensics)
  .training-course-desc 
    p.container
      | This class is designed for individuals interested in understanding the basics of digital forensics and those who want to improve their incident response skills.
p.container
  a(href="courses/ForensicsEssentials.pdf", target="_blank") Course Description
  span ---
  a(href="https://events.r20.constantcontact.com/register/eventReg?oeidk=a07edsyd33rfd59cbeb&oseq=&c=&ch=", target="_blank") Register Here

//- multi-line comment. everything indented below
  br
  p.container
    strong YARA (Yet Another Regex Analyzer) - $200
    br
    p Instructor: Monty St John (ATX Forensics)
    .training-course-desc 
      p.container
        | Yet Another Regex Analyzer or YARA is a simple and highly effective way to identify, classify, and categorize files. While most often employed in the context of malicious files, YARA is not limited in that regard and can be directed at any type​ of file. This ability makes it a valuable sleuthing tool in your arsenal identify, understand and ultimately prevent unwanted influences.
  p.container
    a(href="courses/YaraCourse.pdf", target="_blank") Course Description
    span ---
    a(href="https://events.r20.constantcontact.com/register/eventReg?oeidk=a07edsyd33rfd59cbeb&oseq=&c=&ch=", target="_blank") Register Here
  
br
p.container
  strong Managing AWS Logs with Elastic Stack - $30
  br
  p Instructor: Rodney Beede (Seagate)
  .training-course-desc 
    p.container
      | Learn how to send AWS logs to an off-site (meaning not at AWS) Logstash (ELK) stack. We use this setup in my company for reviewing security logs in our multiple AWS environments.  Although AWS offers an elasticsearch as a service inside AWS for our security operations center we need both our cloud and on-premise (company data centers) security log events all in one place.
p.container
  a(href="courses/AWSLoggingCourse.pdf", target="_blank") Course Description
  span ---
  a(href="https://events.r20.constantcontact.com/register/eventReg?oeidk=a07edsyd33rfd59cbeb&oseq=&c=&ch=", target="_blank") Register Here
  
br
p.container
  strong The Value of Social Engineering - $200
  br
  p Instructor: Aaron Crawford (Squirrels In A Barrel)
  .training-course-desc 
    p.container
      | Learn the basics of social engineering and how to safely and ethically conduct assessments. Discover how to construct and conduct pretexts that evaluate policies as well as existing defenses. Find out how to expand your company’s current defensive posture by safely testing the most vulnerable component, the human.

p.container
  a(href="courses/ValueOfSocialEngineering.pdf", target="_blank") Course Description
  span ---
  a(href="https://events.r20.constantcontact.com/register/eventReg?oeidk=a07edsyd33rfd59cbeb&oseq=&c=&ch=", target="_blank") Register Here
  


