h2.section-title Training
p.container
  | BSidesOK is all about supporting the community and encouraging information security education. 
  | This year we're adding two whole days of low-cost security training! Pick a course & sign up today!
  br
  br
  strong All classes will be 8am-5pm on Wednesday and/or Thursday, April 10-11. 
  br
  | Class sizes are limited to 25.
  br
  | Paid members of ISSA, Infragard, & Techlahoma receive 20% off!!!
  br
  a(href="mailto:training@bsidesok.com") Email training@bsidesok.com 
  |for more details.  
  
br
p.container
  strong Malware Discovery and Analysis - $500 - 2 Day
  br
  p Instructor: Michael Gough (Malware Archaeology)
  p Wednesday-Thursday (April 10-11) 8am  - 5pm
  .training-course-desc 
    p.container
      | This course focuses on performing fast triage and how to discover if a system has malware, how to build a malware analysis lab and perform basic malware analysis quickly. The concept of Malware Management, Malware Discovery and Basic Malware Analysis will be discussed with exercises linking the three concepts together.
//p.container
//  a(href="courses/EndpointIncidentResponse-Gough.pdf", target="_blank") Course Description
//  |  - 
//  a(href="https://events.r20.constantcontact.com/register/eventReg?oeidk=a07eewsl307c1f18aa5", target="_blank") Register Here
  

br

p.container
  strong Secure Coding Techniques for Developers - $500 - 2 Day
  br
  p Instructor: Jason Gillam (Secure Ideas)
  p Wednesday-Thursday (April 10-11) 8am  - 5pm
  .training-course-desc 
    p.container
      | This course is designed to introduce web application developers to the world of web application vulnerabilities through a combination of practical and thought exercises.  The course leverages the Samurai WTF environment as a test lab, and primarily focuses on the execution and defensive measures for the OWASP Top 10 vulnerabilities.
//p.container
//  a(href="courses/PythonforPentesters-Gillam.pdf", target="_blank") Course Description
//  |  - 
//  a(href="https://events.r20.constantcontact.com/register/eventReg?oeidk=a07eewsl307c1f18aa5", target="_blank") Register Here
  
br
p.container
  strong Network Penetration Testing - $500 - 2 Day
  br
  p Instructors: Eric Kuehn & Nathan Sweaney (Secure Ideas)
  p Wednesday-Thursday (April 10-11) 8am  - 5pm
  .training-course-desc 
    p.container
      | This hands-on course will teach attendees a basic methodology for network penetration testing. Students will walk through the phases of a test with demonstrations of various tools and tactics used in each phase. The course is heavily focused on hands-on labs so that attendees have the opportunity to actually use common tools and techniques. By the end of the 2-day training, students will understand the structure of a penetration test and have the experience necessary to begin practicing the demonstrated toolsets.

//p.container
//  a(href="courses/EthicalSocialEngineeringFieldOps-Crawford.pdf", target="_blank") Course Description
//  |  - 
//  a(href="https://events.r20.constantcontact.com/register/eventReg?oeidk=a07eewsl307c1f18aa5", target="_blank") Register Here

br
p.container
  strong Implementing an Incident Response and Review Process - $250 - 1 Day
  br
  p Instructor: Jonathan Kimmitt (University of Tulsa)
  p Wednesday-Thursday (April 10) 8am  - 5pm
  .training-course-desc 
    p.container
      | Coming soon.

br
p.container
  strong Evaluating IT Security Concerns with 3rd Party Contracts - $250 - 1 Day
  br
  p Instructor: Jonathan Kimmitt (University of Tulsa)
  p Wednesday-Thursday (April 11) 8am  - 5pm
  .training-course-desc 
    p.container
      | Coming soon. 
//p.container
//  a(href="courses/NavigatingCompliance-Kimmitt.pdf", target="_blank") Course Description
//  |  - 
//  a(href="https://events.r20.constantcontact.com/register/eventReg?oeidk=a07eewsl307c1f18aa5", target="_blank") Register Here




