p.container.info
  h2.section-title Call for Training
  p
    strong Our 2018 call for training is open.
    br
    //| We're announcing the Call For Papers (CFP) soon!
    | Do you have a training course or workshop you'd like to present at BSidesOK? 
    br
    | We're looking for a trainers with courses from 4 hours to 2 days. If you've got a course, 
    a(href="https://www.papercall.io/bsidesok2018training") let us know.
