h2.section-title Training
p.container
  | BSidesOK is all about supporting the community and encouraging information security education. 
  | This year we're adding two whole days of low-cost security training! Pick a course & sign up today!
  br
  strong All classes will be 8am-5pm on Wednesday and/or Thursday, April 11-12. 
  br
  | Class sizes are limited to 25. 
  br
  | Paid members of ISSA, Infragard, & Techlahoma receive 20% off!!!
  br
  a(href="mailto:training@bsidesok.com") Email training@bsidesok.com 
  |for more details.  
  
br
p.container
  strong Introduction to Responding to Endpoint Incidents and Malware Discovery - $500 - 2 Day
  br
  p Instructors: Michael Gough (Malware Archaeology)
  p Wednesday-Thursday (April 11-12) 8am  - 5pm
  .training-course-desc 
    p.container
      | Responding to an incident, malware discovery and basic analysis is an essential skill for today’s Information Security and IT professionals.  This course focuses on how to discover if a system has malware, how to build a malware analysis lab and perform basic malware analysis quickly.  The goal and objective is to respond quickly, obtain actionable information, and improve your Information Security program.  Tools and techniques used and steps to analyze a system to determine if a system is clean or truly infected will be covered.  The concept of Malware Management, Malware Discovery and Malware Analysis will be discussed with exercises linking the three concepts together.
p.container
  a(href="courses/EndpointIncidentResponse-Gough.pdf", target="_blank") Course Description
  |  - 
  a(href="https://events.r20.constantcontact.com/register/eventReg?oeidk=a07eewsl307c1f18aa5", target="_blank") Register Here
  
br
p.container
  strong Pentesting 101 - $500 - 2 Day
  br
  p Instructor: Tim Elrod and Lars Cohenour (Optiv)
  p Wednesday-Thursday (April 11-12) 8am  - 5pm
  .training-course-desc 
    p.container
      | Two experienced security consultants will cover performing basic penetration testing and how to produce repeatable results using a standard methodology. In this course, participants will use a test lab to gain hands-on experience applying each phase of the methodology.
p.container
  a(href="courses/PenetrationTesting101-Elrod.pdf", target="_blank") Course Description
  |  - 
  a(href="https://events.r20.constantcontact.com/register/eventReg?oeidk=a07eewsl307c1f18aa5", target="_blank") Register Here
  
br
p.container
  strong Digital Forensics Essentials - $250 - 1 Day
  br
  p Instructor: Donovan Farrow (Alias Forensics)
  p Thursday (April 12) 8am  - 5pm
  .training-course-desc 
    p.container
      | This class is designed for individuals interested in understanding the basics of digital forensics and those who want to improve their incident response skills.
p.container
  a(href="courses/DigitalForensicsEssentials-Farrow.pdf", target="_blank") Course Description
  |  - 
  a(href="https://events.r20.constantcontact.com/register/eventReg?oeidk=a07eewsl307c1f18aa5", target="_blank") Register Here

br
p.container
  strong Python for Pentesters - $500 - 2 Day
  br
  p Instructor: Jason Gillam (SecureIdeas)
  p Wednesday-Thursday (April 11-12) 8am  - 5pm
  .training-course-desc 
    p.container
      | Have you ever been working on a penetration test, and encountered a problem for which there is no perfect tool?  Maybe you know how to step through a test sequence manually but don’t have a way to automate it.  Python is a versatile, cross-platform, well documented language with an enormous amount of support through pre-existing libraries.  This makes it very useful for a variety of penetration testing tasks as well as everyday system administration. This course introduces intermediate Python concepts and libraries to the novice Python scripter in a series of practical lab exercises to solve common pentesting and appsec problems. Important: this class is lab intensive.
p.container
  a(href="courses/PythonforPentesters-Gillam.pdf", target="_blank") Course Description
  |  - 
  a(href="https://events.r20.constantcontact.com/register/eventReg?oeidk=a07eewsl307c1f18aa5", target="_blank") Register Here
  
br
p.container
  strong Ethical Social Engineering Field Operations - $500 - 2 Day
  br
  p Instructor: Aaron Crawford (Squirrels In A Barrel / The Insider Agency )
  p Wednesday-Thursday (April 11-12) 8am  - 5pm
  .training-course-desc 
    p.container
      | Learn the basics of social engineering and how to safely and ethically conduct assessments. Discover how to construct and conduct pretexts that evaluate policies as well as existing defenses. Find out how to expand your company’s current defensive posture by safely testing the most vulnerable component, the human.

p.container
  a(href="courses/EthicalSocialEngineeringFieldOps-Crawford.pdf", target="_blank") Course Description
  |  - 
  a(href="https://events.r20.constantcontact.com/register/eventReg?oeidk=a07eewsl307c1f18aa5", target="_blank") Register Here
//
//br
//p.container
//
//  strong When ITS Sucking the Life out of You - Stress Management Workshop for IT Security Professionals - $125 - 1/2 Day
//  br
//  p Instructor: Ed Eckenstein 
//  p Thursday (April 12) 1pm  - 5pm
//  .training-course-desc 
//    p.container
//      | InfoSec is inherently stressful work. The lack of staffing, tension between security requirements and business needs and no clear wins create endless pressure and frustration. The shortage of experienced professionals only worsens when experienced professionals burn out and leave the industry.
//
//p.container
//  a(href="courses/WhenITSSuckingtheLifeoutofYou-Eckenstein.pdf", target="_blank") Course Description
//  |  - 
//  a(href="https://events.r20.constantcontact.com/register/eventReg?oeidk=a07eewsl307c1f18aa5", target="_blank") Register Here
//
//br
//p.container
//  strong Intro to Threat Intelligence - $250 - 1 Day
//  br
//  p Instructor: Monty St. John (Cyber Defenses)
//  p Wednesday (April 11) 8am  - 5pm
//  .training-course-desc 
//    p.container
//      | Defining Threat Intelligence (TI) in an understandable way can be frustrating. Every cybersecurity vendor and expert seems to have their own definition of what it entails. This course contains 12 labs to intensify a student’s introduction to TI. The course begins with a discussion of key concepts and principles and then builds to convey an understanding of how it fits in your company and when, where and how to use it. 
//
//p.container
//  a(href="courses/IntrotoThreatIntelligence-StJohn.pdf", target="_blank") Course Description
//  |  - 
//  a(href="https://events.r20.constantcontact.com/register/eventReg?oeidk=a07eewsl307c1f18aa5", target="_blank") Register Here
//
//br
//p.container
//  strong Commanding Yara - $250 - 1 Day
//  br
//  p Instructor: Monty St. John (Cyber Defenses)
//  p Thursday (April 12) 8am  - 5pm
//  .training-course-desc 
//    p.container
//      | YARA is a powerful and free sleuthing tool that belongs in every threat, incident response or SOC team. It runs on any platform, is open source and is small enough to be an easy inclusion to any trusted tool set. Its ability to sift through data, identify files based on logic - not just by simple comparison but also via fuzzy logic - makes YARA pretty unbeatable. It can be used simply for insight on an isolated event or in sophisticated manner as part of an incident response or research laboratory. 
//
//p.container
//  a(href="courses/CommandingYARA-StJohn.pdf", target="_blank") Course Description
//  |  - 
//  a(href="https://events.r20.constantcontact.com/register/eventReg?oeidk=a07eewsl307c1f18aa5", target="_blank") Register Here
br
p.container
  strong Navigating compliance for the IT Security Professional: 
  br
  strong PCI, HIPAA, GDPR, FERPA, OMG, ABC, 123, #@&amp;#....... - $500 - 2 Day
  br
  p Instructor: Jonathan Kimmitt (University of Tulsa)
  p Wednesday-Thursday (April 11-12) 8am  - 5pm
  .training-course-desc 
    p.container
      | An interactive instructional session to help IT Security Professionals understand, process, and be successful with the variety of data privacy compliances within their organization.

p.container
  a(href="courses/NavigatingCompliance-Kimmitt.pdf", target="_blank") Course Description
  |  - 
  a(href="https://events.r20.constantcontact.com/register/eventReg?oeidk=a07eewsl307c1f18aa5", target="_blank") Register Here




