h2.section-title Volunteer
.container
  p
    | This conference wouldn't happen without our great organizers and volunteers.
    | Many thanks to: Nathan Sweaney, Nathan Keltner, John Robertson, Carrie Randolph, Aaron Moss, James Lawlz, Devon Greene, Donovan Farrow, and Wes DeVault
    br
    .container
      p
        | If you'd like to volunteer, please contact
        a(href="mailto:bsidesok@gmail.com") our team
        | .
