h2.section-title Volunteer
.container
  p
    | This conference wouldn't happen without our great organizers and volunteers.
    | Many thanks to: Nathan Sweaney, Nathan Keltner, John Robertson, Carrie Randolph, Aaron Moss, James Lawlz, Devon Greene, Danny LC
    .container
      p
        | If you'd like to volunteer, send us an [email.](mailto:bsides@gmail.com)
